4/flows.json
[{"id":"d585eee3.d40818","type":"tab","label":"Challenge4","disabled":false,"info":""},{"id":"16d41dd0.64b8f2","type":"file in","z":"d585eee3.d40818","name":"traffic.csv","filename":"/Users/lucaferraro/Desktop/PoliMi/First_year/Internet_of_things/IoT-HomeChallenge/4/traffic.csv","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":340,"y":160,"wires":[["6fd9977a.f44278","156e37d2.f3c288"]]},{"id":"9f376749.fc3248","type":"switch","z":"d585eee3.d40818","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"factory/department1/section1/plc","vt":"str"},{"t":"cont","v":"factory/department3/section3/plc","vt":"str"},{"t":"cont","v":"factory/department1/section1/hydraulic_valve","vt":"str"},{"t":"cont","v":"factory/department3/section3/hydraulic_valve","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":650,"y":160,"wires":[["6e8fb577.50ddcc","595ae9ca.4845e8"],["595ae9ca.4845e8"],["51452b9f.a853fc"],["51452b9f.a853fc"]]},{"id":"661fc72f.a791b8","type":"function","z":"d585eee3.d40818","name":"Split_data_1","func":"function hex2a(hexx) {\n    var hex = hexx.toString();\n    var str = '';\n    for (var i = 0; (i < hex.length && hex.substr(i, 2) !== '00'); i += 2)\n        str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));\n    return str;\n}\n\nvar value = msg.payload.split('\\n');\nmsg.payload = value[value.length - 1];\n\nmsg.payload = hex2a(msg.payload);\n\nvalue = msg.payload.split('{');\nmsg.payload = value[value.length - 1];\n\nvalue = msg.payload.split('}');\nmsg.payload = value[0];\n\nif (msg.payload.includes(':')){\n    \n    value = msg.payload.split(':');\n    \n    if (msg.payload.length > 1){\n        msg.payload = value[2];\n        \n        value = msg.payload.split(',');\n        msg.payload = value[0];\n        msg.payload = msg.payload.substr(1);\n    }\n    \n}\n\nif(isNaN(msg.payload)){\n    msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":320,"wires":[["22ada091.d4cd98"]]},{"id":"6fd9977a.f44278","type":"switch","z":"d585eee3.d40818","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Publish","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":160,"wires":[["9f376749.fc3248","4e250165.937498"]]},{"id":"595ae9ca.4845e8","type":"change","z":"d585eee3.d40818","name":"","rules":[{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"filename","pt":"msg"},{"t":"delete","p":"parts","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":140,"wires":[["661fc72f.a791b8","8f8a043c.06a06"]]},{"id":"8f8a043c.06a06","type":"debug","z":"d585eee3.d40818","name":"","active":false,"console":"false","complete":"true","x":1130,"y":140,"wires":[]},{"id":"4e250165.937498","type":"debug","z":"d585eee3.d40818","name":"","active":false,"console":"false","complete":"true","x":510,"y":100,"wires":[]},{"id":"156e37d2.f3c288","type":"debug","z":"d585eee3.d40818","name":"","active":false,"tosidebar":true,"console":false,"complete":"true","x":350,"y":100,"wires":[]},{"id":"7befab66.1a4ac4","type":"function","z":"d585eee3.d40818","name":"Thingspeak Message Configuration","func":"var data = msg.payload\n\nmsg.payload = \"field1=\" + data + \"&status=MQTTPUBLISH\";\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":320,"wires":[["6677301a.133038","b08b12d0.f5171"]]},{"id":"51452b9f.a853fc","type":"change","z":"d585eee3.d40818","name":"","rules":[{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"filename","pt":"msg"},{"t":"delete","p":"parts","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":180,"wires":[["6bf8b784.0b36e","5bd7406b.acbc58"]]},{"id":"6bf8b784.0b36e","type":"function","z":"d585eee3.d40818","name":"Split_data_2","func":"function hex2a(hexx) {\n    var hex = hexx.toString();\n    var str = '';\n    for (var i = 0; (i < hex.length && hex.substr(i, 2) !== '00'); i += 2)\n        str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));\n    return str;\n}\n\nvar value = msg.payload.split('\\n');\nmsg.payload = value[value.length - 1];\n\nmsg.payload = hex2a(msg.payload);\n\nvalue = msg.payload.split('{');\nmsg.payload = value[value.length - 1];\n\nvalue = msg.payload.split('}');\nmsg.payload = value[0];\n\nif (msg.payload.includes(':')){\n    \n    value = msg.payload.split(':');\n    \n    if (msg.payload.length > 1){\n        msg.payload = value[2];\n        \n        value = msg.payload.split(',');\n        msg.payload = value[0];\n        msg.payload = msg.payload.substr(1);\n    }\n    \n}\n\nif(isNaN(msg.payload)){\n    msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":420,"wires":[["e47f2bc8.85998"]]},{"id":"d34e1a09.4682e8","type":"mqtt out","z":"d585eee3.d40818","name":"","topic":"channels/1064138/publish/F4JM5HFD9NH886GM","qos":"","retain":"","broker":"8406d1f7.8fe08","x":670,"y":560,"wires":[]},{"id":"6677301a.133038","type":"debug","z":"d585eee3.d40818","name":"","active":false,"console":"false","complete":"true","x":970,"y":320,"wires":[]},{"id":"6e8fb577.50ddcc","type":"debug","z":"d585eee3.d40818","name":"","active":false,"console":"false","complete":"true","x":670,"y":100,"wires":[]},{"id":"4d02502d.4c37d","type":"function","z":"d585eee3.d40818","name":"Thingspeak Message Configuration","func":"var data = msg.payload\n\nmsg.payload = \"field2=\" + data + \"&status=MQTTPUBLISH\";\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":420,"wires":[["e811d3b9.4a7e48","b08b12d0.f5171"]]},{"id":"e811d3b9.4a7e48","type":"debug","z":"d585eee3.d40818","name":"","active":false,"console":"false","complete":"true","x":970,"y":420,"wires":[]},{"id":"22ada091.d4cd98","type":"switch","z":"d585eee3.d40818","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":320,"wires":[["7befab66.1a4ac4"]]},{"id":"e47f2bc8.85998","type":"switch","z":"d585eee3.d40818","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":420,"wires":[["4d02502d.4c37d"]]},{"id":"b08b12d0.f5171","type":"delay","z":"d585eee3.d40818","name":"Message rate delimiter","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":560,"wires":[["d34e1a09.4682e8","8a0aacf3.efde98"]]},{"id":"8a0aacf3.efde98","type":"debug","z":"d585eee3.d40818","name":"","active":true,"console":"false","complete":"true","x":490,"y":640,"wires":[]},{"id":"5bd7406b.acbc58","type":"debug","z":"d585eee3.d40818","name":"","active":false,"console":"false","complete":"true","x":1130,"y":180,"wires":[]},{"id":"4b80a9e4.52a0c","type":"inject","z":"d585eee3.d40818","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":160,"wires":[["16d41dd0.64b8f2"]]},{"id":"8406d1f7.8fe08","type":"mqtt-broker","z":"","name":"","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]