Project/flows.json
[{"id":"5836dd43.72321c","type":"tab","label":"Project","disabled":false,"info":""},{"id":"fb8dc25.aefa9c","type":"mqtt-broker","z":"","name":"","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"fa042cbe.93ca18","type":"http request","z":"5836dd43.72321c","name":"Web Req","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/{{event}}/with/key/dxgsHKGb89ofSlI4Tj9JHc","tls":"","x":980,"y":460,"wires":[["2d9dd8c6.449f5"]]},{"id":"2d9dd8c6.449f5","type":"debug","z":"5836dd43.72321c","name":"","active":false,"tosidebar":true,"console":false,"complete":"false","x":1030,"y":360,"wires":[]},{"id":"517aa3e0.f5514c","type":"function","z":"5836dd43.72321c","name":"Req Params","func":"msg.event = \"Proximity_alarm\";\nmsg.payload = {\"value1\": msg.payload[1], \"value2\": msg.payload[2], \"value3\": msg.payload[0]};\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":460,"wires":[["5d0c3179.e40848","fa042cbe.93ca18"]]},{"id":"b72319f1.25cee","type":"tcp in","z":"5836dd43.72321c","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":860,"wires":[["432d9630.b256d8"]]},{"id":"7f24bca3.1522f4","type":"switch","z":"5836dd43.72321c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":460,"wires":[["e410ce4e.9d39c8","517aa3e0.f5514c"]]},{"id":"e410ce4e.9d39c8","type":"debug","z":"5836dd43.72321c","name":"","active":false,"tosidebar":true,"console":false,"complete":"false","x":610,"y":360,"wires":[]},{"id":"5d0c3179.e40848","type":"debug","z":"5836dd43.72321c","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":810,"y":360,"wires":[]},{"id":"432d9630.b256d8","type":"function","z":"5836dd43.72321c","name":"Select data","func":"var value = msg.payload.split(' ');\nmsg.payload = [];\n\nif (value.length >= 3){\n    \n    var Src = value[1];\n    Src = Src.substring(0, Src.length - 1)\n\n    var Dst = value[3];\n    Dst = Dst.substring(0, Dst.length - 1)\n\n    \n    msg.payload.push(value[value.length - 2], Src, Dst);\n}\nelse {\n    msg.payload = null;\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":390,"y":460,"wires":[["e9caf109.a2e8f8","7f24bca3.1522f4"]]},{"id":"e9caf109.a2e8f8","type":"debug","z":"5836dd43.72321c","name":"","active":false,"tosidebar":true,"console":false,"complete":"false","x":410,"y":360,"wires":[]},{"id":"7a8eae9d.1988c","type":"tcp in","z":"5836dd43.72321c","name":"","server":"client","host":"localhost","port":"60003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":740,"wires":[["432d9630.b256d8"]]},{"id":"38e7e70a.fc0cd","type":"tcp in","z":"5836dd43.72321c","name":"","server":"client","host":"localhost","port":"60004","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":680,"wires":[["432d9630.b256d8"]]},{"id":"e2e59c07.9bf758","type":"tcp in","z":"5836dd43.72321c","name":"","server":"client","host":"localhost","port":"60005","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":620,"wires":[["432d9630.b256d8"]]},{"id":"87e00c73.31337","type":"tcp in","z":"5836dd43.72321c","name":"","server":"client","host":"localhost","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":800,"wires":[["432d9630.b256d8"]]},{"id":"c644af3c.12301","type":"tcp in","z":"5836dd43.72321c","name":"","server":"client","host":"localhost","port":"60006","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":560,"wires":[["432d9630.b256d8"]]},{"id":"f09e1fc1.01bc08","type":"tcp in","z":"5836dd43.72321c","name":"","server":"client","host":"localhost","port":"60007","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":500,"wires":[["432d9630.b256d8"]]},{"id":"39ce7414.0dadf4","type":"tcp in","z":"5836dd43.72321c","name":"","server":"client","host":"localhost","port":"60008","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":420,"wires":[["432d9630.b256d8"]]},{"id":"51610c3a.7870cc","type":"tcp in","z":"5836dd43.72321c","name":"","server":"client","host":"localhost","port":"60009","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":360,"wires":[["432d9630.b256d8"]]},{"id":"efca237e.f9bd6","type":"tcp in","z":"5836dd43.72321c","name":"","server":"client","host":"localhost","port":"60010","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":300,"wires":[["432d9630.b256d8"]]},{"id":"7efb3608.cd2f1","type":"tcp in","z":"5836dd43.72321c","name":"","server":"client","host":"localhost","port":"60011","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":240,"wires":[["432d9630.b256d8"]]},{"id":"1364da93.d77555","type":"tcp in","z":"5836dd43.72321c","name":"","server":"client","host":"localhost","port":"60012","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":180,"wires":[["432d9630.b256d8"]]},{"id":"58e08eba.b826","type":"tcp in","z":"5836dd43.72321c","name":"","server":"client","host":"localhost","port":"60013","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":120,"wires":[["432d9630.b256d8"]]},{"id":"b0912387.145a48","type":"tcp in","z":"5836dd43.72321c","name":"","server":"client","host":"localhost","port":"60014","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":60,"wires":[["432d9630.b256d8"]]},{"id":"e4f7bea2.7a943","type":"http request","z":"5836dd43.72321c","name":"INSERT YOUR IFTTT KEY TO GET EMAILS","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/{{event}}/with/key/\"\"\"\"INSERT HERE\"\"\"\"","tls":"","x":950,"y":580,"wires":[[]]},{"id":"1ccf7f84.ceb598","type":"comment","z":"5836dd43.72321c","name":"IFTTT Instructions","info":"To get email and test the program, you need to:\n\n-Create an ifttt account\n-Create an applet named \"Proximity_alarm\"\n-Connect the block \"INSERT YOUR IFTTT KEY TO GET EMAILS\"\n-Modify the block inserting your personal ifttt key\n-Deploy and try the simulation","x":730,"y":200,"wires":[]}]
