Project/flows.json
[{"id":"ef480a5e.389218","type":"tab","label":"Project","disabled":false,"info":""},{"id":"e006c157.18f31","type":"http request","z":"ef480a5e.389218","name":"Web Req","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/{{event}}/with/key/dxgsHKGb89ofSlI4Tj9JHc","tls":"","persist":false,"proxy":"","authType":"","x":980,"y":460,"wires":[["186c556b.902973"]]},{"id":"186c556b.902973","type":"debug","z":"ef480a5e.389218","name":"","active":false,"tosidebar":true,"console":false,"complete":"false","x":990,"y":560,"wires":[]},{"id":"655d3586.d2ea6c","type":"function","z":"ef480a5e.389218","name":"Req Params","func":"msg.event = \"Proximity_alarm\";\nmsg.payload = {\"value1\": msg.payload, \"value2\": \"testvalue2\", \"value3\": \"testvalue3\"};\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":460,"wires":[["ec69af47.564e","e006c157.18f31"]]},{"id":"39b3eb44.593564","type":"tcp in","z":"ef480a5e.389218","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":210,"y":340,"wires":[[]]},{"id":"f53831d0.4f1668","type":"function","z":"ef480a5e.389218","name":"Select data","func":"var value = msg.payload.split(' ');\n\nif (value.length >= 1){\n    msg.payload = value[value.length - 1];\n}\nelse {\n    msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":460,"wires":[["f629361c.6fdb98"]]},{"id":"f629361c.6fdb98","type":"switch","z":"ef480a5e.389218","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":460,"wires":[["beba9903.2a2d2","655d3586.d2ea6c"]]},{"id":"275e5af5.42bb7e","type":"inject","z":"ef480a5e.389218","name":"","topic":"","payload":"awfvnjr qejr qor gvqertbvj eqrboqb 10","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":230,"y":440,"wires":[["f53831d0.4f1668"]]},{"id":"beba9903.2a2d2","type":"debug","z":"ef480a5e.389218","name":"","active":false,"tosidebar":true,"console":false,"complete":"false","x":630,"y":380,"wires":[]},{"id":"20644cb.239ecb4","type":"inject","z":"ef480a5e.389218","name":"","topic":"","payload":"- 11","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":230,"y":480,"wires":[["f53831d0.4f1668"]]},{"id":"ec69af47.564e","type":"debug","z":"ef480a5e.389218","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":830,"y":380,"wires":[]}]