Project/flows.json
[{"id":"ef480a5e.389218","type":"tab","label":"Project","disabled":false,"info":""},{"id":"e006c157.18f31","type":"http request","z":"ef480a5e.389218","name":"Web Req","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/{{event}}/with/key/dxgsHKGb89ofSlI4Tj9JHc","tls":"","persist":false,"proxy":"","authType":"","x":980,"y":460,"wires":[["186c556b.902973"]]},{"id":"186c556b.902973","type":"debug","z":"ef480a5e.389218","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":1010,"y":360,"wires":[]},{"id":"655d3586.d2ea6c","type":"function","z":"ef480a5e.389218","name":"Req Params","func":"msg.event = \"Proximity_alarm\";\nmsg.payload = {\"value1\": msg.payload[1], \"value2\": msg.payload[2], \"value3\": msg.payload[0]};\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":460,"wires":[["ec69af47.564e","e006c157.18f31"]]},{"id":"39b3eb44.593564","type":"tcp in","z":"ef480a5e.389218","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":860,"wires":[["690fc717.8e988"]]},{"id":"f629361c.6fdb98","type":"switch","z":"ef480a5e.389218","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":460,"wires":[["beba9903.2a2d2","655d3586.d2ea6c"]]},{"id":"275e5af5.42bb7e","type":"inject","z":"ef480a5e.389218","name":"","topic":"","payload":"--EDmote3: received from mote11 r --EDssi -374","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":490,"y":740,"wires":[[]]},{"id":"beba9903.2a2d2","type":"debug","z":"ef480a5e.389218","name":"","active":false,"tosidebar":true,"console":false,"complete":"false","x":610,"y":360,"wires":[]},{"id":"20644cb.239ecb4","type":"inject","z":"ef480a5e.389218","name":"","topic":"","payload":"--EDmote3: received from mote1 rF--EDssi -37","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":490,"y":660,"wires":[[]]},{"id":"ec69af47.564e","type":"debug","z":"ef480a5e.389218","name":"","active":false,"tosidebar":true,"console":false,"complete":"false","x":810,"y":360,"wires":[]},{"id":"690fc717.8e988","type":"function","z":"ef480a5e.389218","name":"Select data","func":"var value = msg.payload.split(' ');\nmsg.payload = [];\n\nif (value.length >= 3){\n    \n    var Src = value[1];\n    Src = Src.substring(0, Src.length - 1)\n\n    var Dst = value[5];\n    \n    msg.payload.push(value[value.length - 1], Src, Dst);\n}\nelse {\n    msg.payload = null;\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":390,"y":460,"wires":[["3bfa138.dca216c","f629361c.6fdb98"]]},{"id":"3bfa138.dca216c","type":"debug","z":"ef480a5e.389218","name":"","active":false,"tosidebar":true,"console":false,"complete":"false","x":410,"y":360,"wires":[]},{"id":"c5d79475.25e638","type":"inject","z":"ef480a5e.389218","name":"","topic":"","payload":"qrevqwerbvqertbv","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":530,"y":700,"wires":[[]]},{"id":"4f8f8f8a.6f629","type":"tcp in","z":"ef480a5e.389218","name":"","server":"client","host":"localhost","port":"60003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":740,"wires":[["690fc717.8e988"]]},{"id":"29503289.232ace","type":"tcp in","z":"ef480a5e.389218","name":"","server":"client","host":"localhost","port":"60004","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":680,"wires":[["690fc717.8e988"]]},{"id":"b0e66f3e.c7b62","type":"tcp in","z":"ef480a5e.389218","name":"","server":"client","host":"localhost","port":"60005","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":620,"wires":[["690fc717.8e988"]]},{"id":"cdb3adc0.121308","type":"tcp in","z":"ef480a5e.389218","name":"","server":"client","host":"localhost","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":800,"wires":[["690fc717.8e988"]]},{"id":"effe6d5.c81431","type":"tcp in","z":"ef480a5e.389218","name":"","server":"client","host":"localhost","port":"60006","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":560,"wires":[["690fc717.8e988"]]},{"id":"4bcd142f.86b154","type":"tcp in","z":"ef480a5e.389218","name":"","server":"client","host":"localhost","port":"60007","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":500,"wires":[["690fc717.8e988"]]},{"id":"ab2327e1.b17878","type":"tcp in","z":"ef480a5e.389218","name":"","server":"client","host":"localhost","port":"60008","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":420,"wires":[["690fc717.8e988"]]},{"id":"420fc6e3.158aa","type":"tcp in","z":"ef480a5e.389218","name":"","server":"client","host":"localhost","port":"60009","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":360,"wires":[["690fc717.8e988"]]},{"id":"64883722.2d70d8","type":"tcp in","z":"ef480a5e.389218","name":"","server":"client","host":"localhost","port":"60010","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":300,"wires":[["690fc717.8e988"]]},{"id":"f75bff25.f9ab9","type":"tcp in","z":"ef480a5e.389218","name":"","server":"client","host":"localhost","port":"60011","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":240,"wires":[["690fc717.8e988"]]},{"id":"26617d26.faef62","type":"tcp in","z":"ef480a5e.389218","name":"","server":"client","host":"localhost","port":"60012","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":180,"wires":[["690fc717.8e988"]]},{"id":"7e58f158.17593","type":"tcp in","z":"ef480a5e.389218","name":"","server":"client","host":"localhost","port":"60013","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":120,"wires":[["690fc717.8e988"]]},{"id":"2556387b.1b42e","type":"tcp in","z":"ef480a5e.389218","name":"","server":"client","host":"localhost","port":"60014","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":60,"wires":[["690fc717.8e988"]]}]