5/flows.json
[{"id":"eeca5098.06ef","type":"tab","label":"Challenge4","disabled":false,"info":""},{"id":"783c55e6.6bac64","type":"tab","label":"Challenge5","disabled":false,"info":""},{"id":"4adf0790.e7b3c","type":"mqtt-broker","z":"","name":"","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"89e3f63c.551c48","type":"file in","z":"eeca5098.06ef","name":"traffic.csv","filename":"/Users/bernicama/PROGRAMMI/traffic.csv","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":300,"y":140,"wires":[["cbd8598e.1e3158","a3fb1fbd.e8a32"]]},{"id":"6df64f31.e60d38","type":"switch","z":"eeca5098.06ef","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"factory/department1/section1/plc","vt":"str"},{"t":"cont","v":"factory/department3/section3/plc","vt":"str"},{"t":"cont","v":"factory/department1/section1/hydraulic_valve","vt":"str"},{"t":"cont","v":"factory/department3/section3/hydraulic_valve","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":610,"y":140,"wires":[["5466557.35af92c","b59e05ab.c3ee5"],["5466557.35af92c"],["bd02157a.5f06d"],["bd02157a.5f06d"]]},{"id":"5466557.35af92c","type":"delay","z":"eeca5098.06ef","name":"Message Rate Limiter","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":120,"wires":[["43605a6b.723854","a32925e3.cf1618"]]},{"id":"2999b7c4.4b589","type":"inject","z":"eeca5098.06ef","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":140,"wires":[["89e3f63c.551c48"]]},{"id":"62103233.82c9b4","type":"function","z":"eeca5098.06ef","name":"Split data","func":"function hex2a(hexx) {\n    var hex = hexx.toString();\n    var str = '';\n    for (var i = 0; (i < hex.length && hex.substr(i, 2) !== '00'); i += 2)\n        str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));\n    return str;\n}\n\nvar value = msg.payload.split('\\n');\nmsg.payload = value[value.length - 1];\n\nmsg.payload = hex2a(msg.payload);\n\nvalue = msg.payload.split('{');\nmsg.payload = value[value.length - 1];\n\nvalue = msg.payload.split('}');\nmsg.payload = value[0];\n\nif (msg.payload.includes(':')){\n    \n    value = msg.payload.split(':');\n    \n    if (msg.payload.length > 1){\n        msg.payload = value[2];\n        \n        value = msg.payload.split(',');\n        msg.payload = value[0];\n        msg.payload = msg.payload.substr(1);\n    }\n    \n}\n\nif(isNaN(msg.payload)){\n    msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":300,"wires":[["b990c980.864268"]]},{"id":"cbd8598e.1e3158","type":"switch","z":"eeca5098.06ef","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Publish","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":140,"wires":[["6df64f31.e60d38","3cb11442.dcf144"]]},{"id":"aec18c57.083df8","type":"debug","z":"eeca5098.06ef","name":"","active":false,"console":"false","complete":"true","x":290,"y":220,"wires":[]},{"id":"43605a6b.723854","type":"change","z":"eeca5098.06ef","name":"","rules":[{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"filename","pt":"msg"},{"t":"delete","p":"parts","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":120,"wires":[["62103233.82c9b4","62d6c668.143ad"]]},{"id":"62d6c668.143ad","type":"debug","z":"eeca5098.06ef","name":"","active":false,"console":"false","complete":"true","x":1050,"y":80,"wires":[]},{"id":"b990c980.864268","type":"switch","z":"eeca5098.06ef","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":300,"wires":[["aec18c57.083df8","43e0ed54.9e6f74"]]},{"id":"3cb11442.dcf144","type":"debug","z":"eeca5098.06ef","name":"","active":false,"console":"false","complete":"true","x":470,"y":80,"wires":[]},{"id":"a3fb1fbd.e8a32","type":"debug","z":"eeca5098.06ef","name":"","active":false,"console":"false","complete":"true","x":310,"y":80,"wires":[]},{"id":"6adfeae4.d294dc","type":"function","z":"eeca5098.06ef","name":"Thingspeak Message Configuration","func":"var data = msg.payload\nmsg.payload =\"field1=\" + data[0] + \"&field2=\" + data[1] + \"&status=MQTTPUBLISH\";\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":340,"wires":[["6c08cf2d.dd8978","6fa57d1c.5b26cc"]]},{"id":"bd02157a.5f06d","type":"delay","z":"eeca5098.06ef","name":"Message Rate Limiter","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":160,"wires":[["28bc785.3228308"]]},{"id":"28bc785.3228308","type":"change","z":"eeca5098.06ef","name":"","rules":[{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"filename","pt":"msg"},{"t":"delete","p":"parts","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":160,"wires":[["a0c29274.958a9"]]},{"id":"a0c29274.958a9","type":"function","z":"eeca5098.06ef","name":"Split data","func":"function hex2a(hexx) {\n    var hex = hexx.toString();\n    var str = '';\n    for (var i = 0; (i < hex.length && hex.substr(i, 2) !== '00'); i += 2)\n        str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));\n    return str;\n}\n\nvar value = msg.payload.split('\\n');\nmsg.payload = value[value.length - 1];\n\nmsg.payload = hex2a(msg.payload);\n\nvalue = msg.payload.split('{');\nmsg.payload = value[value.length - 1];\n\nvalue = msg.payload.split('}');\nmsg.payload = value[0];\n\nif (msg.payload.includes(':')){\n    \n    value = msg.payload.split(':');\n    \n    if (msg.payload.length > 1){\n        msg.payload = value[2];\n        \n        value = msg.payload.split(',');\n        msg.payload = value[0];\n        msg.payload = msg.payload.substr(1);\n    }\n    \n}\n\nif(isNaN(msg.payload)){\n    msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":380,"wires":[["d74b55be.0411b8"]]},{"id":"d74b55be.0411b8","type":"switch","z":"eeca5098.06ef","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":380,"wires":[["43e0ed54.9e6f74"]]},{"id":"6fa57d1c.5b26cc","type":"mqtt out","z":"eeca5098.06ef","name":"","topic":"channels/1064138/publish/F4JM5HFD9NH886GM","qos":"","retain":"","broker":"4adf0790.e7b3c","x":230,"y":520,"wires":[]},{"id":"43e0ed54.9e6f74","type":"join","z":"eeca5098.06ef","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":470,"y":340,"wires":[["6adfeae4.d294dc"]]},{"id":"6c08cf2d.dd8978","type":"debug","z":"eeca5098.06ef","name":"","active":true,"console":"false","complete":"true","x":730,"y":440,"wires":[]},{"id":"a32925e3.cf1618","type":"debug","z":"eeca5098.06ef","name":"","active":false,"console":"false","complete":"true","x":810,"y":80,"wires":[]},{"id":"b59e05ab.c3ee5","type":"debug","z":"eeca5098.06ef","name":"","active":false,"console":"false","complete":"true","x":630,"y":80,"wires":[]},{"id":"dfd7cc86.f21f58","type":"tcp in","z":"783c55e6.6bac64","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":330,"y":80,"wires":[["b151fd84.5d138"]]},{"id":"b151fd84.5d138","type":"debug","z":"783c55e6.6bac64","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":80,"wires":[]},{"id":"2c81e06e.461768","type":"function","z":"783c55e6.6bac64","name":"Select data","func":"var value = msg.payload.split(' ');\n\nif (value.length >= 2 && value[value.length - 2] < 70){\n    msg.payload = value[value.length - 2].concat(value[value.length - 1]);\n}\nelse {\n    msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":280,"wires":[["9c6b2a56.4fdc7","44538c6f.841ecc"]]},{"id":"9c6b2a56.4fdc7","type":"debug","z":"783c55e6.6bac64","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":380,"wires":[]},{"id":"fc55072c.930d6","type":"inject","z":"783c55e6.6bac64","name":"","topic":"","payload":"webvwebvw 1234 mote2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["2c81e06e.461768"]]},{"id":"44538c6f.841ecc","type":"switch","z":"783c55e6.6bac64","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"mote2","vt":"str"},{"t":"cont","v":"mote3","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":590,"y":280,"wires":[["5096611f.c26848","3f9dc5c3.5d8c92"],["69b2fecc.e331d8","6218cc49.2b9b44"]]},{"id":"69b2fecc.e331d8","type":"debug","z":"783c55e6.6bac64","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":340,"wires":[]},{"id":"725ad054.76a2b","type":"switch","z":"783c55e6.6bac64","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"false","repair":false,"outputs":1,"x":470,"y":280,"wires":[[]]},{"id":"c983db97.307d9","type":"inject","z":"783c55e6.6bac64","name":"","topic":"","payload":"qrvqrvqwrvq","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":280,"wires":[["2c81e06e.461768"]]},{"id":"88673a81.8c8df8","type":"inject","z":"783c55e6.6bac64","name":"","topic":"","payload":"webvwebvw 69 mote2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":380,"wires":[["2c81e06e.461768"]]},{"id":"34506c05.2c8f04","type":"inject","z":"783c55e6.6bac64","name":"","topic":"","payload":"webvwebvw 69 mote3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":440,"wires":[["2c81e06e.461768"]]},{"id":"5096611f.c26848","type":"debug","z":"783c55e6.6bac64","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":220,"wires":[]},{"id":"3f9dc5c3.5d8c92","type":"function","z":"783c55e6.6bac64","name":"Select data","func":"msg.payload = msg.payload.substring(0, msg.payload.length -5 );\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":240,"wires":[["c60a5fa2.24df48","2c6bb540.31918a"]]},{"id":"6218cc49.2b9b44","type":"function","z":"783c55e6.6bac64","name":"Select data","func":"msg.payload = msg.payload.substring(0, msg.payload.length -5 );\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":320,"wires":[["63d13fde.967e3"]]},{"id":"c60a5fa2.24df48","type":"debug","z":"783c55e6.6bac64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":180,"wires":[]},{"id":"2c6bb540.31918a","type":"function","z":"783c55e6.6bac64","name":"Thingspeak Message Configuration","func":"var data = msg.payload\nmsg.payload =\"field1=\" + data  + \"&status=MQTTPUBLISH\";\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":240,"wires":[["ecc3f859.1c9eb8"]]},{"id":"ecc3f859.1c9eb8","type":"mqtt out","z":"783c55e6.6bac64","name":"","topic":"channels/1069402/publish/BEBM1SONTY9HXWT1","qos":"","retain":"","broker":"4adf0790.e7b3c","x":1410,"y":280,"wires":[]},{"id":"63d13fde.967e3","type":"function","z":"783c55e6.6bac64","name":"Thingspeak Message Configuration","func":"var data = msg.payload\nmsg.payload =\"field2=\" + data  + \"&status=MQTTPUBLISH\";\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":320,"wires":[["ecc3f859.1c9eb8"]]}]