5/flows.json
[{"id":"815ce078.15f8b8","type":"tab","label":"Challenge5","disabled":false,"info":""},{"id":"fb8dc25.aefa9c","type":"mqtt-broker","z":"","name":"","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"b325d474.ef122","type":"tcp in","z":"815ce078.15f8b8","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":330,"y":80,"wires":[["64a1f74.7ad6388","583da2ab.02a584"]]},{"id":"64a1f74.7ad6388","type":"debug","z":"815ce078.15f8b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":80,"wires":[]},{"id":"583da2ab.02a584","type":"function","z":"815ce078.15f8b8","name":"Select data","func":"var value = msg.payload.split(' ');\n\nif (value.length >= 2 && value[value.length - 2] < 70){\n    msg.payload = value[value.length - 2].concat(value[value.length - 1]);\n}\nelse {\n    msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":280,"wires":[["698055c.2599a2c","42e71545.f5ab9c"]]},{"id":"698055c.2599a2c","type":"debug","z":"815ce078.15f8b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":380,"wires":[]},{"id":"42e71545.f5ab9c","type":"switch","z":"815ce078.15f8b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"mote2","vt":"str"},{"t":"cont","v":"mote3","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":590,"y":280,"wires":[["6c4e709d.d5a938","9ed602c7.ff6c28"],["6d60bc3e.0337fc","392f1f27.94aff"]]},{"id":"6d60bc3e.0337fc","type":"debug","z":"815ce078.15f8b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":340,"wires":[]},{"id":"b59c50be.dfeb1","type":"switch","z":"815ce078.15f8b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"false","repair":false,"outputs":1,"x":470,"y":280,"wires":[[]]},{"id":"6c4e709d.d5a938","type":"debug","z":"815ce078.15f8b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":220,"wires":[]},{"id":"9ed602c7.ff6c28","type":"function","z":"815ce078.15f8b8","name":"Select data","func":"msg.payload = msg.payload.substring(0, msg.payload.length -5 );\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":240,"wires":[["3e8fa1c2.098f6e","6417cf1.393e93"]]},{"id":"392f1f27.94aff","type":"function","z":"815ce078.15f8b8","name":"Select data","func":"msg.payload = msg.payload.substring(0, msg.payload.length -5 );\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":320,"wires":[["a5a60edc.e4396"]]},{"id":"3e8fa1c2.098f6e","type":"debug","z":"815ce078.15f8b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":780,"y":180,"wires":[]},{"id":"6417cf1.393e93","type":"function","z":"815ce078.15f8b8","name":"Thingspeak Message Configuration","func":"var data = msg.payload\nmsg.payload =\"field1=\" + data  + \"&status=MQTTPUBLISH\";\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":240,"wires":[["1a8a2302.039fcd"]]},{"id":"afe7b2d4.5cb1a","type":"mqtt out","z":"815ce078.15f8b8","name":"","topic":"channels/1069402/publish/BEBM1SONTY9HXWT1","qos":"","retain":"","broker":"fb8dc25.aefa9c","x":1670,"y":280,"wires":[]},{"id":"a5a60edc.e4396","type":"function","z":"815ce078.15f8b8","name":"Thingspeak Message Configuration","func":"var data = msg.payload\nmsg.payload =\"field2=\" + data  + \"&status=MQTTPUBLISH\";\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":320,"wires":[["1a8a2302.039fcd"]]},{"id":"1a8a2302.039fcd","type":"delay","z":"815ce078.15f8b8","name":"Message Rate Limiter","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1340,"y":280,"wires":[["afe7b2d4.5cb1a","a65478b1.b14b28"]]},{"id":"a65478b1.b14b28","type":"debug","z":"815ce078.15f8b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1530,"y":480,"wires":[]}]
